---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">
      <span class="lang-en">{{ page.list_title | default: "Posts" }}</span>
      <span class="lang-zh">{{ page.list_title_zh | default: "最近文章" }}</span>
    </h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }} · {% include reading-time.html post_content=post.content %}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            <span class="lang-en">{{ post.title | escape }}</span>
            <span class="lang-zh">{{ post.title_zh | default: post.title | escape }}</span>
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="feed-subscribe">
      <a href="{{ "/feed.xml" | relative_url }}">
        <svg class="svg-icon orange">
          <use xlink:href="{{ "/assets/minima-social-icons.svg#rss" | relative_url }}"></use>
        </svg><span class="lang-en">Subscribe</span><span class="lang-zh">订阅</span>
      </a>
    </p>
  {%- endif -%}
</div>
