---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% include bilingual.html %}
    {% unless page.bilingual %}
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    {% endunless %}
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        · <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
      · {% include reading-time.html %}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.giscus.repo -%}
  <div class="post-comments">
    <script src="https://giscus.app/client.js"
      data-repo="{{ site.giscus.repo }}"
      data-repo-id="{{ site.giscus.repo_id }}"
      data-category="{{ site.giscus.category }}"
      data-category-id="{{ site.giscus.category_id }}"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="preferred_color_scheme"
      data-lang="en"
      crossorigin="anonymous"
      async>
    </script>
  </div>
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
